# **Topik dan Permasalahan**

- Apakah upaya yang dilakukan pemerintah sudah efektif?
- Kapan mencapai titik minimum?
- Kebijakan lain apa yang harus dilakukan pemerintah yang bisa menciptakan stabilitas di tingkat minimum?
- Hal apa yang anda sarankan dalam mengakselerasi target pencapaian vaksin ke-2

**Keterangan Kolom**

1. **Positif**, jumlah orang yang dinyatakan positif terinfeksi virus COVID-19 yang dibuktikan dengan pemeriksaan laboratorium RT-PCR.
2. **Dirawat**, Jumlah orang yang terinfeksi COVID19 dan telah menjalani perawatan
3. **Sembuh**, Jumlah orang yang telah dinyatakan sembuh dari COVID19
4. **Meninggal**, Jumlah orang/korban yang telah meninggal dunia karena COVID19
5. **Kontak Erat**, Jumlah orang yang memiliki kontak erat dengan kasus probable atau konfirmasi COVID19
6. **Pelaku Perjalanan**, Jumlah orang yang melakukan perjalanan dari dalam negeri (Domestik) maupun luar negeri pada 14 hari terakhir
7. **Suspek**, Jumlah orang dengan ISPA (Infeksi Saluran Pernapasan Akut) dan pada 14 hari terakhir sebelum timbul gejala, memiliki riwayat perjalanan atau tinggal di wilayah yang melaporkan transmisi lokal, memiliki riwayat kontak dengan kasus konfirmasi/probable COVID-19 dan memiliki ISPA/Pneumonia berat yang membutuhkan perawatan rumah sakit dan tidak ada penyebab lain.
8. **Probable**. Jumlah orang dengan ISPA berat/ARDS (gagal napas akibat aveolu paru-paru penuh cairan) atau meninggal dengan gambaran klinis yang meyakinkan COVID-19 dan belum ada hasil pemeriksaan lab RT-PCR.
9. **Discarded**, Jumlah orang dengan status kasus suspek dengan hasil pemeriksaan lab RT/PCR 2 kali negatif selama 2 hari berturut-turut dengan selang waktu 24 jam, dan jumlah orang dengan status kontak erat yang telah selesai masa karantina 14 hari.

# **Data 1: Data COVID-19 Maret - Oktober 2020**

## **Data Profiling**

### **Import Libraries**

In [459]:
import pandas as pd
import numpy as np

### **Read File CSV**

In [460]:
df1 = pd.read_csv('covid-dki-all-2020.csv', sep = ';')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34705 entries, 0 to 34704
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  34705 non-null  int64
 1   tanggal2            34705 non-null  object
 2   id_kel              34701 non-null  object
 3   nama_provinsi       34701 non-null  object
 4   nama_kota           34701 non-null  object
 5   nama_kecamatan      34701 non-null  object
 6   nama_kelurahan      34705 non-null  object
 7   positif             34705 non-null  int64
 8   dirawat             34705 non-null  int64
 9   sembuh              34705 non-null  int64
 10  meninggal           34705 non-null  int64
 11  odp                 5923 non-null   object
 12  odp_meninggal       4304 non-null   float64
 13  proses_pemantauan   6191 non-null   float64
 14  selesai_pemantauan  6191 non-null   float64
 15  pdp                 6191 non-null   float64
 16  pdp_meninggal       4304 non-null   float64
 17  masih_dirawat       6191 non-null   float64
 18  pulang_dan_sehat    6191 non-null   float64
 19  kontak_erat         28514 non-null  float64
 20  pelaku_perjalanan   28514 non-null  float64
 21  self_isolation      34705 non-null  int64
 22  perawatan_rs        28514 non-null  float64
 23  isolasi_di_rumah    28514 non-null  float64
 24  selesai_isolasi     28514 non-null  float64
 25  suspek              28514 non-null  float64
 26  suspek_meninggal    28514 non-null  float64
 27  probable            28514 non-null  float64
 28  probable_meninggal  28514 non-null  float64
 29  discarded           28514 non-null  float64
 30  keterangan          272 non-null    float64
dtypes: float64(18), int64(6), object(7)
memory usage: 8.2+ MB

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [461]:
df1

          ID    tanggal2      id_kel  ... probable_meninggal discarded keterangan
0          1  25/03/2020  3173011001  ...                NaN       NaN        NaN
1          2  25/03/2020  3173011006  ...                NaN       NaN        NaN
2          3  25/03/2020  3173011002  ...                NaN       NaN        NaN
3          4  25/03/2020  3173011005  ...                NaN       NaN        NaN
4          5  25/03/2020  3173011004  ...                NaN       NaN        NaN
...      ...         ...         ...  ...                ...       ...        ...
34700  34701  30/11/2020  3175011006  ...                0.0      98.0        NaN
34701  34702  30/11/2020  3175011002  ...                0.0      49.0        NaN
34702  34703  30/11/2020  3171031008  ...                0.0      31.0        NaN
34703  34704  30/11/2020  3172021007  ...                0.0      70.0        NaN
34704  34705  30/11/2020  3173021007  ...                0.0      24.0        NaN

[34705 rows x 31 columns]

## **Data Cleansing**

### **Merapihkan Row**

In [462]:
df1['id_kel'].unique()

array(['3173011001', '3173011006', '3173011002', '3173011005',
       '3173011004', '3173011003', '3173021001', '3173021004',
       '3173021006', '3173021005', '3173021002', '3173021003',
       '3173021007', '3173061001', '3173061004', '3173061005',
       '3173061002', '3173061003', '3173051005', '3173051001',
       '3173051007', '3173051006', '3173051004', '3173051003',
       '3173051002', '3173081005', '3173081006', '3173081001',
       '3173081003', '3173081002', '3173081004', '3173071004',
       '3173071005', '3173071006', '3173071003', '3173071001',
       '3173071002', '3173031007', '3173031006', '3173031002',
       '3173031005', '3173031003', '3173031008', '3173031001',
       '3173031004', '3173041007', '3173041011', '3173041003',
       '3173041006', '3173041008', '3173041002', '3173041005',
       '3173041009', '3173041010', '3173041001', '3173041004',
       '3171051002', '3171051001', '3171051003', '3171011002',
       '3171011006', '3171011001', '3171011005', '3171011004',
       '3171011003', '3171081003', '3171081001', '3171081002',
       '3171081004', '3171031006', '3171031005', '3171031003',
       '3171031002', '3171031001', '3171031004', '3171031007',
       '3171031008', '3171061003', '3171061004', '3171061005',
       '3171061001', '3171061002', '3171021004', '3171021002',
       '3171021003', '3171021005', '3171021001', '3171041006',
       '3171041002', '3171041004', '3171041005', '3171041003',
       '3171041001', '3171071002', '3171071001', '3171071007',
       '3171071003', '3171071006', '3171071005', '3171071004',
       '3174061001', '3174061005', '3174061004', '3174061002',
       '3174061003', '3174091003', '3174091006', '3174091001',
       '3174091004', '3174091002', '3174091005', '3174071010',
       '3174071009', '3174071002', '3174071003', '3174071001',
       '3174071008', '3174071007', '3174071005', '3174071004',
       '3174071006', '3174051003', '3174051005', '3174051004',
       '3174051006', '3174051001', '3174051002', '3174031002',
       '3174031005', '3174031001', '3174031003', '3174031004',
       '3174081006', '3174081004', '3174081002', '3174081001',
       '3174081005', '3174081003', '3174041003', '3174041002',
       '3174041007', '3174041001', '3174041006', '3174041005',
       '3174041004', '3174101002', '3174101001', '3174101004',
       '3174101003', '3174101005', '3174021007', '3174021004',
       '3174021003', '3174021002', '3174021008', '3174021005',
       '3174021006', '3174021001', '3174011005', '3174011004',
       '3174011007', '3174011006', '3174011003', '3174011002',
       '3174011001', '3175061007', '3175061004', '3175061001',
       '3175061003', '3175061005', '3175061002', '3175061006',
       '3175101006', '3175101008', '3175101002', '3175101001',
       '3175101007', '3175101004', '3175101003', '3175101005',
       '3175091002', '3175091001', '3175091003', '3175091005',
       '3175091004', '3175071001', '3175071003', '3175071006',
       '3175071005', '3175071002', '3175071004', '3175071007',
       '3175031003', '3175031002', '3175031007', '3175031008',
       '3175031005', '3175031006', '3175031001', '3175031004',
       '3175041005', '3175041004', '3175041007', '3175041006',
       '3175041003', '3175041002', '3175041001', '3175081005',
       '3175081004', '3175081003', '3175081001', '3175081002',
       '3175011003', '3175011005', '3175011004', '3175011001',
       '3175011006', '3175011002', '3175051002', '3175051003',
       '3175051001', '3175051004', '3175051005', '3175021003',
       '3175021007', '3175021004', '3175021006', '3175021002',
       '3175021001', '3175021005', '3172041001', '3172041004',
       '3172041003', '3172041006', '3172041007', '3172041005',
       '3172041002', '3172061003', '3172061001', '3172061002',
       '3172031001', '3172031003', '3172031006', '3172031004',
       '3172031005', '3172031002', '3172051003', '3172051002',
       '3172051001', '3172011002', '3172011003', '3172011004',
       '3172011001', '3172011005', '3172021005', '3172021003',
       '3172021004', '3172021006', '3172021002', '3172021001',
       '3172021007', '3101021003', '3101021002', '3101021001',
       '3101011003', '3101011002', '3101011001', 'BELUM DIKETAHUI',
       'LUAR DKI JAKARTA', nan, 'PROSES UPDATE DATA'], dtype=object)

In [463]:
df1 = df1.set_index('id_kel').drop(['BELUM DIKETAHUI',
                                    'LUAR DKI JAKARTA', 
                                    'PROSES UPDATE DATA']).reset_index()

### **Memperbaiki Kolom**

Karena kasus ODP dan PDP telah berganti istilah menjadi suspek. Maka kita bisa pindahkan nilai dari kedua kolom tersebut ke kolom suspek. Demikian pula dengan kolom ODP dan PDP meninggal ke kolom suspek meninggal

In [464]:
df1['odp'] = df1['odp'].astype(float)
df1['self_isolation'] = df1['self_isolation'].astype(float)
df1['positif'] = df1['positif'].astype(float)
df1['dirawat'] = df1['dirawat'].astype(float)
df1['sembuh'] = df1['sembuh'].astype(float)
df1['meninggal'] = df1['meninggal'].astype(float)
df1['tanggal2'] = pd.to_datetime(df1['tanggal2'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34447 entries, 0 to 34446
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_kel              34443 non-null  object
 1   ID                  34447 non-null  int64
 2   tanggal2            34447 non-null  datetime64[ns]
 3   nama_provinsi       34443 non-null  object
 4   nama_kota           34443 non-null  object
 5   nama_kecamatan      34443 non-null  object
 6   nama_kelurahan      34447 non-null  object
 7   positif             34447 non-null  float64
 8   dirawat             34447 non-null  float64
 9   sembuh              34447 non-null  float64
 10  meninggal           34447 non-null  float64
 11  odp                 5878 non-null   float64
 12  odp_meninggal       4272 non-null   float64
 13  proses_pemantauan   6145 non-null   float64
 14  selesai_pemantauan  6145 non-null   float64
 15  pdp                 6145 non-null   float64
 16  pdp_meninggal       4272 non-null   float64
 17  masih_dirawat       6145 non-null   float64
 18  pulang_dan_sehat    6145 non-null   float64
 19  kontak_erat         28302 non-null  float64
 20  pelaku_perjalanan   28302 non-null  float64
 21  self_isolation      34447 non-null  float64
 22  perawatan_rs        28302 non-null  float64
 23  isolasi_di_rumah    28302 non-null  float64
 24  selesai_isolasi     28302 non-null  float64
 25  suspek              28302 non-null  float64
 26  suspek_meninggal    28302 non-null  float64
 27  probable            28302 non-null  float64
 28  probable_meninggal  28302 non-null  float64
 29  discarded           28302 non-null  float64
 30  keterangan          270 non-null    float64
dtypes: datetime64[ns](1), float64(24), int64(1), object(5)
memory usage: 8.1+ MB

In [465]:
df1['suspek'] = np.where(df1['suspek'].isnull() & df1['odp'].notnull() & df1['pdp'].notnull(), 
                         df1['odp'] + df1['pdp'], df1['suspek'])
df1['suspek'] = np.where(df1['suspek'].isnull() & df1['odp'].notnull(), 
                         df1['odp'], df1['suspek'])
df1['suspek'] = np.where(df1['suspek'].isnull() & df1['pdp'].notnull(), 
                         df1['pdp'], df1['suspek'])

df1['suspek_meninggal'] = np.where(df1['suspek_meninggal'].isnull() & 
                                   df1['odp_meninggal'].notnull() & 
                                   df1['pdp_meninggal'].notnull(), 
                                   df1['odp_meninggal'] + df1['pdp_meninggal'], df1['suspek_meninggal'])
df1['suspek_meninggal'] = np.where(df1['suspek_meninggal'].isnull() & 
                                   df1['odp_meninggal'].notnull(),
                                   df1['odp_meninggal'], df1['suspek_meninggal'])
df1['suspek_meninggal'] = np.where(df1['suspek_meninggal'].isnull() &  
                                   df1['pdp_meninggal'].notnull(), 
                                   df1['pdp_meninggal'], df1['suspek_meninggal'])

Kolom proses_pemantauan akan dipindahkan nilainya ke kolom isolasi_di_rumah. Demikian pula dengan kolom selesai_pemantauan akan dipindahkan nilainya ke kolom selesai_isolasi

In [466]:
df1['isolasi_di_rumah'] = np.where(df1['isolasi_di_rumah'].isnull() & df1['proses_pemantauan'].notnull(), 
                                   df1['proses_pemantauan'], df1['isolasi_di_rumah'])

df1['selesai_isolasi'] = np.where(df1['selesai_isolasi'].isnull() & df1['selesai_pemantauan'].notnull(), 
                                   df1['selesai_pemantauan'], df1['selesai_isolasi'])

Kolom masih_dirawat akan dipindahkan nilainya ke kolom perawatan_rs.

In [467]:
df1['perawatan_rs'] = np.where(df1['perawatan_rs'].isnull() & df1['masih_dirawat'].notnull(), 
                               df1['masih_dirawat'], df1['perawatan_rs'])

Kolom pulang_dan_sehat akan dipindahkan nilainya ke kolom discarded

In [468]:
df1['discarded'] = np.where(df1['discarded'].isnull() & df1['pulang_dan_sehat'].notnull(), 
                                   df1['pulang_dan_sehat'], df1['discarded'])

In [469]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34447 entries, 0 to 34446
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_kel              34443 non-null  object
 1   ID                  34447 non-null  int64
 2   tanggal2            34447 non-null  datetime64[ns]
 3   nama_provinsi       34443 non-null  object
 4   nama_kota           34443 non-null  object
 5   nama_kecamatan      34443 non-null  object
 6   nama_kelurahan      34447 non-null  object
 7   positif             34447 non-null  float64
 8   dirawat             34447 non-null  float64
 9   sembuh              34447 non-null  float64
 10  meninggal           34447 non-null  float64
 11  odp                 5878 non-null   float64
 12  odp_meninggal       4272 non-null   float64
 13  proses_pemantauan   6145 non-null   float64
 14  selesai_pemantauan  6145 non-null   float64
 15  pdp                 6145 non-null   float64
 16  pdp_meninggal       4272 non-null   float64
 17  masih_dirawat       6145 non-null   float64
 18  pulang_dan_sehat    6145 non-null   float64
 19  kontak_erat         28302 non-null  float64
 20  pelaku_perjalanan   28302 non-null  float64
 21  self_isolation      34447 non-null  float64
 22  perawatan_rs        34447 non-null  float64
 23  isolasi_di_rumah    34447 non-null  float64
 24  selesai_isolasi     34447 non-null  float64
 25  suspek              34447 non-null  float64
 26  suspek_meninggal    32574 non-null  float64
 27  probable            28302 non-null  float64
 28  probable_meninggal  28302 non-null  float64
 29  discarded           34447 non-null  float64
 30  keterangan          270 non-null    float64
dtypes: datetime64[ns](1), float64(24), int64(1), object(5)
memory usage: 8.1+ MB

In [470]:
df1.head()

       id_kel  ID   tanggal2  ... probable_meninggal discarded keterangan
0  3173011001   1 2020-03-25  ...                NaN       0.0        NaN
1  3173011006   2 2020-03-25  ...                NaN       0.0        NaN
2  3173011002   3 2020-03-25  ...                NaN       1.0        NaN
3  3173011005   4 2020-03-25  ...                NaN       1.0        NaN
4  3173011004   5 2020-03-25  ...                NaN       0.0        NaN

[5 rows x 31 columns]

### **Menghapus Kolom**

In [471]:
# Remove column name 'A'
removed_column = ['ID','odp', 'odp_meninggal', 
                  'proses_pemantauan', 'selesai_pemantauan', 
                  'pdp', 'pdp_meninggal', 'masih_dirawat',
                  'pulang_dan_sehat', 'keterangan']                    
df1.drop(removed_column, axis = 1, inplace = True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34447 entries, 0 to 34446
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_kel              34443 non-null  object
 1   tanggal2            34447 non-null  datetime64[ns]
 2   nama_provinsi       34443 non-null  object
 3   nama_kota           34443 non-null  object
 4   nama_kecamatan      34443 non-null  object
 5   nama_kelurahan      34447 non-null  object
 6   positif             34447 non-null  float64
 7   dirawat             34447 non-null  float64
 8   sembuh              34447 non-null  float64
 9   meninggal           34447 non-null  float64
 10  kontak_erat         28302 non-null  float64
 11  pelaku_perjalanan   28302 non-null  float64
 12  self_isolation      34447 non-null  float64
 13  perawatan_rs        34447 non-null  float64
 14  isolasi_di_rumah    34447 non-null  float64
 15  selesai_isolasi     34447 non-null  float64
 16  suspek              34447 non-null  float64
 17  suspek_meninggal    32574 non-null  float64
 18  probable            28302 non-null  float64
 19  probable_meninggal  28302 non-null  float64
 20  discarded           34447 non-null  float64
dtypes: datetime64[ns](1), float64(15), object(5)
memory usage: 5.5+ MB

In [472]:
df1

           id_kel   tanggal2  ... probable_meninggal discarded
0      3173011001 2020-03-25  ...                NaN       0.0
1      3173011006 2020-03-25  ...                NaN       0.0
2      3173011002 2020-03-25  ...                NaN       1.0
3      3173011005 2020-03-25  ...                NaN       1.0
4      3173011004 2020-03-25  ...                NaN       0.0
...           ...        ...  ...                ...       ...
34442  3175011006 2020-11-30  ...                0.0      98.0
34443  3175011002 2020-11-30  ...                0.0      49.0
34444  3171031008 2020-11-30  ...                0.0      31.0
34445  3172021007 2020-11-30  ...                0.0      70.0
34446  3173021007 2020-11-30  ...                0.0      24.0

[34447 rows x 21 columns]

### **Mengatasi Missing Values**

In [473]:
df1.dropna(inplace=True)

In [474]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28302 entries, 5344 to 34446
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_kel              28302 non-null  object
 1   tanggal2            28302 non-null  datetime64[ns]
 2   nama_provinsi       28302 non-null  object
 3   nama_kota           28302 non-null  object
 4   nama_kecamatan      28302 non-null  object
 5   nama_kelurahan      28302 non-null  object
 6   positif             28302 non-null  float64
 7   dirawat             28302 non-null  float64
 8   sembuh              28302 non-null  float64
 9   meninggal           28302 non-null  float64
 10  kontak_erat         28302 non-null  float64
 11  pelaku_perjalanan   28302 non-null  float64
 12  self_isolation      28302 non-null  float64
 13  perawatan_rs        28302 non-null  float64
 14  isolasi_di_rumah    28302 non-null  float64
 15  selesai_isolasi     28302 non-null  float64
 16  suspek              28302 non-null  float64
 17  suspek_meninggal    28302 non-null  float64
 18  probable            28302 non-null  float64
 19  probable_meninggal  28302 non-null  float64
 20  discarded           28302 non-null  float64
dtypes: datetime64[ns](1), float64(15), object(5)
memory usage: 4.8+ MB

In [475]:
df1.reset_index(drop=True)

           id_kel   tanggal2  ... probable_meninggal discarded
0      3172051003 2020-07-14  ...                0.0       4.0
1      3173041007 2020-07-14  ...                0.0      22.0
2      3175041005 2020-07-14  ...                0.0      22.0
3      3175031003 2020-07-14  ...                0.0       0.0
4      3175101006 2020-07-14  ...                0.0      14.0
...           ...        ...  ...                ...       ...
28297  3175011006 2020-11-30  ...                0.0      98.0
28298  3175011002 2020-11-30  ...                0.0      49.0
28299  3171031008 2020-11-30  ...                0.0      31.0
28300  3172021007 2020-11-30  ...                0.0      70.0
28301  3173021007 2020-11-30  ...                0.0      24.0

[28302 rows x 21 columns]

## **Export Data 1 to CSV File**

In [476]:
df1.to_csv('data1_covid_dki_detailed_clean', index=True, sep=',')

# **Data 2: Data Kasus Covid (Webscraping)**

covid19.go.id menyediakan data kasus COVID-19 tingkat provinsi di alamat API yang berbeda. Sebagai data mengenai COVID-19 Jakarta, tersedia di https://data.covid19.go.id/public/api/prov_detail_DKI_JAKARTA.json.

In [477]:
import requests
resp_dki = requests.get('https://data.covid19.go.id/public/api/prov_detail_DKI_JAKARTA.json')
cov_dki_raw = resp_dki.json()

## **Akses Data Covid dengan API**

In [478]:
print('Nama-nama elemen utama:\n', cov_dki_raw.keys())

Nama-nama elemen utama:
 dict_keys(['last_date', 'provinsi', 'kasus_total', 'kasus_tanpa_tgl', 'kasus_dengan_tgl', 'meninggal_persen', 'meninggal_tanpa_tgl', 'meninggal_dengan_tgl', 'sembuh_persen', 'sembuh_tanpa_tgl', 'sembuh_dengan_tgl', 'list_perkembangan', 'data'])

### **Berapa jumlah total kasus COVID-19 di Jawa Barat?**

In [479]:
print('\nJumlah total kasus COVID-19 di DKI Jakarta : %d' %cov_dki_raw['kasus_total'])

Jumlah total kasus COVID-19 di DKI Jakarta : 857615

### **Berapa persentase kematian akibat COVID-19 di Jawa Barat?**

In [480]:
print('Persentase kematian akibat COVID-19 di DKI Jakarta : %f.2%%' %cov_dki_raw['meninggal_persen'])

Persentase kematian akibat COVID-19 di DKI Jakarta : 1.577281.2%

### **Berapa persentase tingkat kesembuhan dari COVID-19 di Jawa Barat?**

In [481]:
print('Persentase tingkat kesembuhan dari COVID-19 di DKI Jakarta : %f.2%%' %cov_dki_raw['sembuh_persen'])

Persentase tingkat kesembuhan dari COVID-19 di DKI Jakarta : 98.174705.2%

Kita dapat mengakses data perkembangan COVID-19 dari waktu ke waktu yang juga disediakan oleh covid19.go.id melalui permintaan API yang telah Anda buat sebelumnya. Data historis perkembangan COVID-19 tersebut tersimpan dengan nama `list_perkembangan`.

In [482]:
import numpy as np
import pandas as pd
cov_dki = pd.DataFrame(cov_dki_raw['list_perkembangan'])
print('Info cov_dki:\n', cov_dki.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tanggal                       579 non-null    int64
 1   KASUS                         579 non-null    int64
 2   MENINGGAL                     579 non-null    int64
 3   SEMBUH                        579 non-null    int64
 4   DIRAWAT_OR_ISOLASI            579 non-null    int64
 5   AKUMULASI_KASUS               579 non-null    int64
 6   AKUMULASI_SEMBUH              579 non-null    int64
 7   AKUMULASI_MENINGGAL           579 non-null    int64
 8   AKUMULASI_DIRAWAT_OR_ISOLASI  579 non-null    int64
dtypes: int64(9)
memory usage: 40.8 KB
Info cov_dki:
 None

In [483]:
cov_dki.head()

         tanggal  KASUS  ...  AKUMULASI_MENINGGAL  AKUMULASI_DIRAWAT_OR_ISOLASI
0  1583020800000      2  ...                    0                             2
1  1583107200000      2  ...                    0                             4
2  1583193600000      2  ...                    0                             6
3  1583280000000      2  ...                    0                             8
4  1583366400000      0  ...                    1                             7

[5 rows x 9 columns]

## **Data Preprocessing**

- Menghapus kolom `DIRAWAT_OR_ISOLASI` dan semua kolom yang berisi nilai kumulatif
- Merubah format penulisan semua kolom menjadi huruf kecil
- Mengganti nama kolom `kasus` menjadi `kasus_baru`
- Memperbaiki tipe data pada kolom tanggal menggunakan `pd.to_datetime`

In [484]:
cov_dki_tidy = (cov_dki.drop(columns=[item for item in cov_dki.columns 
                                               if item.startswith('AKUMULASI') 
                                                  or item.startswith('DIRAWAT')])
                           .rename(columns=str.lower)
                           .rename(columns={'kasus': 'kasus_baru'})
                  )
cov_dki_tidy['tanggal'] = pd.to_datetime(cov_dki_tidy['tanggal']*1e6, unit='ns')
print('Lima data teratas:\n', cov_dki_tidy.head())
print('\nLima data terakhir:\n', cov_dki_tidy.tail())

Lima data teratas:
      tanggal  kasus_baru  meninggal  sembuh
0 2020-03-01           2          0       0
1 2020-03-02           2          0       0
2 2020-03-03           2          0       0
3 2020-03-04           2          0       0
4 2020-03-05           0          1       0

Lima data terakhir:
        tanggal  kasus_baru  meninggal  sembuh
574 2021-09-26         168          3     126
575 2021-09-27         103          4     251
576 2021-09-28         102          0       0
577 2021-09-29         177          0       2
578 2021-09-30           1          0      10

## **Export Data2 to CSV File**

In [485]:
cov_dki_tidy.to_csv('data2_covid_dki_updated', index=False, sep=',')

# **Data 3: Daftar Rumah Sakit Rujukan COVID 19**

In [486]:
file_name = 'daftar-rumah-sakit-rujukan-penanggulangan-covid-19.csv'

df3 = pd.read_csv(file_name, sep = ',')
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nama_rumah_sakit  93 non-null     object
 1   alamat            93 non-null     object
 2   kota_madya        93 non-null     object
 3   kelurahan         93 non-null     object
 4   kecamatan         93 non-null     object
dtypes: object(5)
memory usage: 3.8+ KB

In [487]:
df3.head()

    nama_rumah_sakit  ...      kecamatan
0       RSUD Tarakan  ...         GAMBIR
1          RSUD KOJA  ...           KOJA
2   RSKD DUREN SAWIT  ...    DUREN SAWIT
3  RS PERTAMINA JAYA  ...  CEMPAKA PUTIH
4           RS PELNI  ...       PALMERAH

[5 rows x 5 columns]

In [512]:
df3.to_csv('data3_rujukan_rs_dki', index=True, sep=',')

# **Data 4: Vaksinasi COVID 19**

In [502]:
tahap_tiga_vaksin_juli_filename = 'data-jumlah-vaksinasi-covid-19-tahap-3-tiga-menurut-kelurahan-di-provinsi-dki-jakarta-tahun-bulan-juli-2021.csv'
gotong_royong_vaksin_juni_filename = 'data-jumlah-vaksinasi-gotong-royong-menurut-kelurahan-di-provinsi-dki-jakarta-bulan-juni-tahun-2021.csv'
gotong_royong_vaksin_juli_filename = 'data-jumlah-vaksinasi-gotong-royong-menurut-kelurahan-di-provinsi-dki-jakarta-bulan-juli-tahun-2021.csv'
lansia_vaksin_juni_filename = 'data-jumlah-vaksinasi-lansia-menurut-kelurahan-di-provinsi-dki-jakarta-bulan-juni-tahun-2021.csv'
lansia_vaksin_juli_filename = 'data-jumlah-vaksinasi-lansia-menurut-kelurahan-di-provinsi-dki-jakarta-bulan-juli-tahun-2021.csv'
publik_vaksin_juni_filename = 'data-jumlah-vaksinasi-pelayan-publik-menurut-kelurahan-di-provinsi-dki-jakarta-bulan-juni-tahun-2021.csv'
remaja_vaksin_juli_filename = 'data-jumlah-vaksinasi-remaja-menurut-kelurahan-di-provinsi-dki-jakarta-bulan-juli-tahun-2021.csv'
tenkes_vaksin_juni_filename = 'data-jumlah-vaksinasi-tenaga-kesehatan-menurut-kelurahan-di-provinsi-dki-jakarta-bulan-juni-tahun-2021.csv'
tenkes_vaksin_juli_filename = 'data-jumlah-vaksinasi-tenaga-kesehatan-menurut-kelurahan-di-provinsi-dki-jakarta-bulan-juli-tahun-2021.csv'

df4A = pd.read_csv(tahap_tiga_vaksin_juli_filename)
df4B = pd.read_csv(gotong_royong_vaksin_juni_filename)
df4C = pd.read_csv(gotong_royong_vaksin_juli_filename)
df4D = pd.read_csv(lansia_vaksin_juni_filename)
df4E = pd.read_csv(lansia_vaksin_juli_filename)
df4F = pd.read_csv(publik_vaksin_juni_filename)
df4G = pd.read_csv(remaja_vaksin_juli_filename)
df4H = pd.read_csv(tenkes_vaksin_juni_filename)
df4I = pd.read_csv(tenkes_vaksin_juli_filename)

In [503]:
df4 = pd.concat([df4A, df4B, df4C, df4D, df4E, df4F, df4G, df4H, df4I])

In [504]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100392 entries, 0 to 16019
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tanggal             91848 non-null  object
 1   kode_kelurahan      91848 non-null  float64
 2   wilayah_kota        91848 non-null  object
 3   kecamatan           91848 non-null  object
 4   kelurahan           91848 non-null  object
 5   penerima_vaksinasi  91848 non-null  object
 6   dosis               91848 non-null  object
 7   jumlah_vaksin       91848 non-null  float64
dtypes: float64(2), object(6)
memory usage: 6.9+ MB

In [505]:
df4.dropna(inplace=True)

In [508]:
df4['tanggal'] = pd.to_datetime(df4['tanggal'])

In [509]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91848 entries, 0 to 16019
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tanggal             91848 non-null  datetime64[ns]
 1   kode_kelurahan      91848 non-null  float64
 2   wilayah_kota        91848 non-null  object
 3   kecamatan           91848 non-null  object
 4   kelurahan           91848 non-null  object
 5   penerima_vaksinasi  91848 non-null  object
 6   dosis               91848 non-null  object
 7   jumlah_vaksin       91848 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 6.3+ MB

In [513]:
df4.reset_index(drop=True)

         tanggal  kode_kelurahan  ...    dosis jumlah_vaksin
0     2021-07-04    3.171071e+09  ...  Dosis 1        3154.0
1     2021-07-04    3.171041e+09  ...  Dosis 1        3042.0
2     2021-07-04    3.171031e+09  ...  Dosis 1        3925.0
3     2021-07-04    3.171051e+09  ...  Dosis 1        3674.0
4     2021-07-04    3.171051e+09  ...  Dosis 1        3276.0
...          ...             ...  ...      ...           ...
91843 2021-07-31    3.101011e+09  ...  Dosis 2          51.0
91844 2021-07-31    3.101011e+09  ...  Dosis 2         120.0
91845 2021-07-31    3.101021e+09  ...  Dosis 2          29.0
91846 2021-07-31    3.101021e+09  ...  Dosis 2          75.0
91847 2021-07-31    3.101021e+09  ...  Dosis 2          22.0

[91848 rows x 8 columns]

In [514]:
df4.to_csv('data4_vaksin_dki_all', index=True, sep=',')